<div class="jumbotron">
	<h1 class="text-center">Vaga JS</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<!-- Caso não seja a última etapa -->
		<form ng-if="!formFinal">
				<select
					class="form-control col-md-12"
					ng-model="selectedOption">
					<option value='' disabled selected>{{placeholder}}</option>
					<option 
						ng-repeat="o in options"
						value="{{o.sku}}">{{ (o.nome)?o.nome:o.franquia }}
					</option>
				</select>
				<br/><br/>
				<button
					type="button"
					class="btn btn-default col-md-12"
					ng-click="nextStep()">Avançar
				</button>
		</form>
		<!-- Caso seja a última etapa -->
		<form ng-if="formFinal" name="formDadosPessoais" ng-submit="submit(user)">
			<input
				type="text"
				class="form-control"
				placeholder="Nome"
				aria-describedby="basic-addon1"
				ng-model="user.name">
			<br/>
			<div class="input-group">
				<input
					type="text"
					class="form-control"
					placeholder="Email"
					aria-describedby="basic-addon1"
					ng-model="user.email">
				<span class="input-group-addon" id="basic-addon1">@</span>
			</div>
			<br/>
			<div class="input-group">
				<input
					type="date"
					class="form-control"
					placeholder="Data de nascimento"
					aria-describedby="basic-addon1"
					ng-model="user.date"
					ng-change="onChange(this)">
				<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
			</div>
			<br/>
			<input
				type="text"
				name="cpf"
				class="form-control"
				placeholder="CPF"
				aria-describedby="basic-addon1"
				ng-model="user.cpf">
			<br/>
			<button
				type="submit"
				class="btn btn-primary col-md-12">Finalizar
			</button>
		</form>
	</div>
</div> 
